**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/coverage/
**/doc/api/
**/.last_build_id

# Flutter Native & Plugins
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/.last_build_id
**/android/.gradle/
**/android/local.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/


**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
**/.venv/
**/venv/
**/env/
**/ENV/

# Environment Variables & Secrets (Bảo mật)
**/.env
**/.env.*
*.jks
*.keystore
google-services.json
GoogleService-Info.plist


.DS_Store
Thumbs.db
**/.idea/
*.iml
*.ipr
*.iws
*.log